@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --bodyBorderColor: #221D1A;
    --bodyBorder: 1px;
    --secondaryColor: #E9E3DC;
    --shadowColor: #221D1A;
    --textColor: #1E1E1E; 
    --bodyColor: #D5D5D6
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    /* --bodyColor: #D5D5D6; */
    /* --bodyColor: #2b2b2b; */
}
html{
    color-scheme: dark light;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    background: var(--bodyColor);
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 100vw;
    z-index: 0;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    padding: 0;
    padding-bottom: 50px;
}

section,.container {
    height: 900px;
    width: 90%;
    max-height: 95vh;
    max-width: 100vw;
    scroll-margin-top: 80px;
}

.container,#myWindow{
    box-shadow: 0 10px 30px 5px  rgba(0, 0, 0, 0.377);

}

#introduction::before {
    content: "";
    height: 500px;
    position: absolute;
    top: -70%;
    left: 0;
    border-radius: 50%;
    width: 500px;
    filter: blur(35px);
    background:
        radial-gradient(circle at 50% 50%, rgba(255, 91, 95, 1), rgba(228, 154, 51, 1)),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='10' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");


}

#introduction::after {
    content: "";
    height: 500px;
    position: absolute;
    top: 0px;
    right: 0;
    border-radius: 50%;
    width: 500px;
    filter: blur(20px);
    z-index: 0;
    background:
        radial-gradient(circle at 50% 50%, rgb(0, 0, 255), rgba(0, 0, 0, 0)),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='8.92' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

#projects::before {
    overflow-x: hidden;
    content: "";
    height: 800px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    width: 800px;
    filter: blur(20px);
    z-index: 0;
    overflow-x: hidden;
    background:
        radial-gradient(circle at 50% 50%, rgba(255, 91, 95, 1), rgba(228, 154, 51, 1)),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='8.92' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
#projects::after {
    overflow-x: hidden;
    content: "";
    height: 400px;
    width: 400px;
    position: absolute;
    top: 900px;
    left: -20%;
    border-radius: 50%;
    filter: blur(20px);
    z-index: 0;
    background:
        radial-gradient(circle at 50% 50%, rgba(0, 0, 255, 0.753), rgba(0, 0, 0, 0)),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='8.92' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}


header {
    width: 90%;
    margin-top: 5px;
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    display: flex;
    align-self: center;
    text-transform: uppercase;
    border: solid var(--bodyBorder) var(--bodyBorderColor);
    background: var(--bodyColor);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .controls{
        position: relative;
        max-height: 100%;
        width: max-content;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        column-gap: 20px;
        .change_theme{
            display: inline-block;
            position: relative;
            width: 50px;
            height: 25px;
            /* background: black; */
        }
        input[type="checkbox"]{
            visibility: hidden;
            display: none;
        }
    
        .handle_changeTheme{
            position: absolute;
            cursor: pointer;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background: #2b2b2b;
            transition: background 0.3s;
        }
        
    
        .check{
            position: absolute;
            top: 2px;
            left: 2px;
            width: 21px;
            height: 21px;
            background: var(--bodyColor);
            border-radius: 50%;
            transition: transform 0.3s;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }
    
    
        /* quando modo noturno estiver on */
        input[type="checkbox"]:checked + .handle_changeTheme{
            background: #b7b1aa;
        }
    
        input[type="checkbox"]:checked + .handle_changeTheme .check {
            transform: translateX(25px);
            background: #2b2b2b;
        }

        .control_navbar{
            display: none;
            width: 100px;
            z-index: 5;
            height: fit-content;
            .lines {
                width: 100px;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 10px;
                .line{
                    background: var(--secondaryColor);
                    border: solid 3px var(--bodyBorderColor);
                    box-shadow: 3px 4px 0 var(--shadowColor);
                    width: 50px;
                    border-radius: 25px;
                    height: 5px;
                }
            }
        }
    
        nav {
            display: flex;
            width: fit-content;
            flex-direction: row;
            margin-right: 10px;
    
            ul {
                display: flex;
                flex-direction: row;
                column-gap: 10px;
    
                li {
                    border-radius: 5px;
                    cursor: pointer;
                    list-style: none;
                    background: var(--secondaryColor);
                    border: solid 2px var(--bodyBorderColor);
                    box-shadow: 4px 3px 0 var(--shadowColor);
                    padding: 5px 10px;
                    flex-direction: row;
                    height: fit-content;
                    p,a{
                        font-size: 16px;
                        font-weight: normal;
                        margin: 0;
                        color: black;
                    }
                }
                li:hover{
                    background: #e4c30a;
                }
            }
        }
        .navbar.items.visible{
            position: absolute;
            right: -5%;
            top: -10%;
            background: var(--bodyColor);
            box-shadow: 0 10px 30px 40px  rgba(0, 0, 0, 0.377);
            height: 100vh;
            width: 50vw;
            flex-direction: column;
            row-gap: 10px;
            align-items: center;
            z-index: 4;
            padding-top: 130px;
            padding-right: 5%;
            li{
                display: flex;
                width: 80%;
            }
        }
    
        .control_navbar.toHideNav{
            .line1{
                position: absolute;
                transform: rotate(47deg);
            }
            .line2{
                position: absolute;
                transform: rotate(-47deg);
            }
            .line3{
                display: none;
            }
        }    .navbar.items.visible{
            position: absolute;
            right: -5%;
            top: -10%;
            background: var(--bodyColor);
            box-shadow: 0 10px 30px 40px  rgba(0, 0, 0, 0.377);
            height: 100vh;
            width: 50vw;
            flex-direction: column;
            row-gap: 10px;
            align-items: center;
            z-index: 4;
            padding-top: 130px;
            padding-right: 5%;
            li{
                display: flex;
                width: 80%;
            }
        }
    
        .control_navbar.toHideNav{
            .line1{
                position: absolute;
                transform: rotate(47deg);
            }
            .line2{
                position: absolute;
                transform: rotate(-47deg);
            }
            .line3{
                display: none;
            }
        }
    }
    


    p,
    nav {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    p{
        margin: 10px 20px;
    }



    p {
        font-size: 2.5rem;
        font-weight: 800;
        letter-spacing: 2px;
    }
    p.myname{
        color: var(--textColor);
    }


}


section{
    scroll-behavior: smooth;
}

section#introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    position: relative;
    margin-bottom: 20px;


    .window {
        position: relative;
        border: solid var(--bodyBorder) var(--bodyBorderColor);
        background: var(--bodyColor);
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-bottom: 20px;
        margin-top: 10px;
        width: 80%;

        .window-top {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: relative;
            column-gap: 20px;
            border-bottom: solid var(--bodyBorder) var(--bodyBorderColor);
            height: fit-content;
            padding: 5px 0;


            .window-name {
                background: #604EB0;
                color: white;
                width: 50%;
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                justify-content: center;
                padding: 5px 0;
                font-weight: 200;
                text-transform: uppercase;
                text-align: center;
                border-radius: 25px;
                border:
                    solid 1px var(--bodyBorderColor);

                svg {
                    height: 90%;
                    position: absolute;
                    left: 5%;
                    bottom: 10%;
                }

                #vector {
                    fill: rgba(255, 255, 255, 0.459);
                }
            }
        }

        .window-content {
            /* display: grid;
            grid-template-columns: 60% 40%;
            grid-template-rows: auto; */
            display: flex;
            flex-direction: column;
            /* min-height: 500px; */
            
            position: relative;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            min-height: max-content;
            row-gap: 50px;

            .text-hello {
                display: flex;
                height: 100%;
                margin-bottom: 20px;
                margin-top: 10px;
                width: 100%;
                row-gap: 10px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                overflow-x: hidden;

                h1,
                p {
                    color: var(--bodyBorderColor);
                    animation: enterHelloTexts 2s normal;
                }

                h1 {
                    width: 100%;
                    font-size: 4rem;
                    font-weight: 800;
                }

                p {
                    cursor: pointer;
                    font-size: 2rem;
                    font-weight: 700;
                    width: fit-content;
                    padding: 2px 15px;
                    border-radius: 5px;
                    display: flex;
                    text-align: center;
                    font-family: monospace;
                    background: var(--secondaryColor);
                    box-shadow: 6px 5px 0 var(--shadowColor);
                    border: solid 3px var(--bodyBorderColor);
                    position: relative;
                }
            }

            .smallWindow {
                width: 300px;
                height: 300px;
                margin-left: 20px;
                display: flex;
                background: var(--secondaryColor);
                border: solid var(--bodyBorder) var(--bodyBorderColor);
                box-shadow: 6px 5px 0 var(--shadowColor);
                transform: translateY(-50px);
                flex-direction: column;
                animation: enterSmallCard 2s normal;

                .window-header {
                    background: #FF5647;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    border-bottom: solid var(--bodyBorder) var(--bodyBorderColor);
                    height: 50px;

                    p {
                        background: #eb4839;
                        width: 60%;
                        text-align: center;
                        color: white;
                        font-weight: 300;
                        padding: 2px 0;
                        padding-bottom: 5px;
                        border-radius: 25px;
                        margin: 5px 0;
                    }
                }

                .content {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: url(/images/meIcon.webp);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }

    }
}

section#projects {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: center;
    width: 100vw;

    .container {
        z-index: 1;
        background: var(--bodyColor);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 550px;
        width: 80%;
        border: solid var(--bodyBorder) var(--bodyBorderColor);

        .container-header {
            height: fit-content;
            padding: 10px 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            border-bottom: solid var(--bodyBorder) var(--bodyBorderColor);

            .window-name {
                width: 90%;
                display: flex;
                justify-content: center;
                position: relative;
                border-radius: 25px;
                border: solid var(--bodyBorder) var(--bodyBorderColor);

                p {
                    font-size: 2rem;
                    color: var(--textColor);
                    font-weight: 500;
                    letter-spacing: 2px;
                    text-transform: uppercase;

                }

                svg {
                    height: 90%;
                    position: absolute;
                    left: 10px;
                    bottom: 10%;
                }

                #vector {
                    fill: var(--textColor);
                }

            }

        }

        .content {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: min-content auto;

        }

        .card {
            height: 80%;
            border: solid var(--bodyBorder) var(--bodyBorderColor);
            justify-self: center;
            align-self: center;
            box-shadow: 9px 8px 0 var(--shadowColor);

            .card-header {
                display: flex;
                width: 100%;
                justify-content: center;
                border-bottom: solid var(--bodyBorder) var(--bodyBorderColor);
                position: relative;

                p {
                    font-size: 1.5rem;
                    font-weight: 500;
                    letter-spacing: 3px;
                }

                button {
                    background: none;
                    position: absolute;
                    right: 5px;
                    border: none;

                    svg {
                        height: 30px;
                    }
                }
            }
        }

        .card.project-bigWindow {
            scroll-margin-top: 80px;
            box-shadow: none;
            display: none;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            min-height: 100%;
            height: 500px;
            width: 100%;
            max-width: 100%;
            z-index: 3;
            background: var(--bodyColor);
            box-shadow: 9px 8px 0 var(--shadowColor);

            .card-header {
                position: relative;
                width: 100%;
                padding: 5px 0;
                margin-bottom: 10px;

                p {
                    font-size: 2rem;
                    font-weight: 600;
                    color: var(--bodyBorderColor);
                }

                button {
                    background: none;
                    position: absolute;
                    align-self: center;
                    right: 20px;
                    font-weight: 500;
                    font-size: 1.5rem;
                    height: fit-content;
                    width: auto;
                    top: 50%;
                    transform: translateY(-50%);
                    padding: 5px 10px;
                    border: solid var(--bodyBorder) var(--bodyBorderColor);
                    border-radius: 15pxd
                }

                button:hover {
                    font-weight: 700;
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 0 10px;
                overflow-y: scroll;

                .project-view {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    row-gap:0;
                    width: 90%;
                    height: 500px;
                    min-height: max-content;
                    position: relative;
                    background: var(--secondaryColor);
                    box-shadow: 9px 8px 0 #1E1E1E;
                    border: solid var(--bodyBorder) var(--bodyBorderColor);

                    img.project-image{
                        margin-top: 40px;
                    }

                    .window-header {
                        border-bottom: solid var(--bodyBorder) var(--bodyBorderColor);
                        background: #FF5647;
                        width: 100%;
                        height: 30px;
                        margin-bottom: 10px;
                        display: flex;
                        align-items: center;
                        position: absolute;
                        top: 0;
                    }

                    .galery {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        max-width: 100%;
                        max-height: 100%;
                        margin-top: 5%;
                        column-gap: 10px;
                        position: relative;

                        button {
                            margin: 0;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: solid 3px var(--bodyBorderColor);
                            background: var(--secondaryColor);


                            svg {
                                height: 50%;

                                polygon {
                                    fill: #1E1E1E;
                                }
                            }

                            svg.prev {
                                transform: rotate(-90deg);
                                margin-right: 3%;
                            }

                            svg.next {
                                transform: rotate(90deg);
                                margin-left: 3%;
                            }
                        }

                        button:hover {
                            background: #e4c30a;
                        }

                        button.prev {
                            box-shadow: 4px 4px 0 var(--shadowColor);
                            margin-left: 10px;
                        }

                        button.next {
                            box-shadow: -4px 4px 0 var(--shadowColor);
                            margin-right: 10px;
                        }

                        button.prev:active {
                            transform: translate(4px);
                            box-shadow: 2px 2px 0 var(--shadowColor);
                        }

                        button.next:active {
                            transform: translate(-4px);
                            box-shadow: -2px 2px 0 var(--shadowColor);
                        }

                        ul {
                            display: flex;
                            flex-direction: row;
                            margin-top: 20px;
                            max-width: 100%;
                            justify-content: center;
                            width: fit-content;
                            height: fit-content;
                            max-height: 100%;

                            li {
                                list-style: none;
                                display: none;

                                img {
                                    height: 300px;
                                    max-height: 100%;
                                    margin-top: 0;
                                }
                            }

                            li.visible {
                                display: flex;
                                background: red;
                                align-items: center;
                                justify-content: center;
                                width: min-content;
                                max-width: 50%;
                                height: 40%;
                                max-height: 100%;
                            }
                        }
                    }

                    .links-area {
                        margin-top: 10px;
                        margin-bottom: 20px;
                        width: 95%;
                        height: fit-content;
                        align-self: center;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        padding: 10px 0;

                        a {
                            cursor: pointer;
                            display: flex;
                            font-family: monospace;
                            flex-direction: row;
                            align-items: center;
                            font-size: 1.5rem;
                            column-gap: 5px;
                            padding: 0 15px;
                            border: solid var(--bodyBorder) var(--bodyBorderColor);
                            border-radius: 5px;
                            box-shadow: 4px 3px 0 var(--shadowColor);
                            background-size: 200% 100%;
                            transition: transform 0.5s ease-in;
                        }

                        a:hover {
                            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.575);
                            transform: translate(0, 4px);

                        }
                    }
                }

                .project-description {
                    margin-top: 30px;
                    margin-bottom: 10px;
                    width: 90%;

                    p,
                    li,
                    a {
                        font-size: 1.25rem;
                    }

                    a {
                        text-decoration: underline;
                        text-decoration-thickness: 3px;
                        text-decoration-color: #1e1e1e63;
                    }

                    a:hover {
                        text-decoration-color: #1e1e1eaf;
                    }

                    ul {
                        margin-top: 8px;
                        list-style-position: inside;
                    }
                }
            }
        }

        .card.project-smallWindow {
            display: flex;
            z-index: 2;
            flex-direction: column;
            align-items: center;
            align-self: flex-start;
            justify-content: center;
            width: 90%;
            margin-top: 10%;
            position: relative;
            max-height: 100%;
            height: fit-content;
            cursor: pointer;
            transition: transform 0.5s ease-in-out;

            .card-header {
                margin-bottom: 10px;
                text-align: center;
            }

            .project-image {
                display: flex;
                max-width: 98%;
                height: 100px;
                width: 100%;
            }

            .content {
                display: flex;
                padding: 0 20px;
                padding-bottom: 20px;
                text-align: justify;
                margin-top: 10px;
                max-width: 90%;
                font-size: 1.25rem;
            }
        }

        .card.project-smallWindow:hover {
            transform: translateY(-10px);
        }
    }
}

section#aboutMe {
    margin-bottom: 30px;
    scroll-margin-top: 80px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: center;
    width: 100vw;

    .container {
        z-index: 1;
        background: var(--bodyColor);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        width: 80%;
        border: solid var(--bodyBorder) var(--bodyBorderColor);

        .container-header {
            height: fit-content;
            padding: 10px 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            border-bottom: solid var(--bodyBorder) var(--bodyBorderColor);

            .window-name {
                width: 90%;
                display: flex;
                justify-content: center;
                position: relative;
                border-radius: 25px;
                border: solid var(--bodyBorder) var(--bodyBorderColor);

                p {
                    font-size: 2rem;
                    color: var(--textColor);
                    font-weight: 500;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    text-align: center;
                    display: flex;
                    justify-content: center;

                }

                svg {
                    height: 90%;
                    position: absolute;
                    left: 10px;
                    bottom: 10%;
                }

                #vector {
                    fill: var(--textColor);
                }

            }

        }
        .content{
            width: 90%;
            min-height: 350px;
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .content-name{
                font-size: 2rem;
                font-weight: 800;
                margin-top: 20px;
                color: var(--bodyBorderColor);
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            p.content-name{
                margin-bottom: 20px;
            }
            .aboutMe-content{
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: max-content;
                    margin: 0 20px;
                    /* height: 400px; */
                    justify-content: 
                    space-around;
                    .aboutMe-infos{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        p{
                            font-size: 1.5rem;
                        }
                        .skills {
                            width: fit-content;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            margin: 15px 0;
                            width: 100%;
                            justify-content: left;
                            gap: 20px;
                            svg {
                                display: flex;
                                justify-self: center;
                                height: 3rem;
                            }
                            svg.python{
                                path{
                                    fill: rgb(250, 166, 37);
                                }
                            }
                        }
                        .whereToFindMe{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: center;
                            margin-top: 10px;
                            .links{
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                justify-content: left;
                                margin-top: 10px;
                                row-gap: 10px;
                                column-gap: 20px;
                                a{
                                    height: fit-content;
                                    min-width: fit-content;
                                    width: fit-content;
                                    background: var(--secondaryColor);
                                    border: solid 2px var(--bodyBorderColor);
                                    box-shadow: 4px 3px 0 var(--shadowColor);
                                    padding: 5px 10px;
                                    border-radius: 5px;
                                }
                                a:hover{
                                    background: #e4c30a;
                                }
                            }
                        }

                    }
                }
        }
    }
}



.rounds {
    position: absolute;
    left: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;

    .round {
        display: flex;
        content: "";
        --Size: 13px;
        height: var(--Size);
        width: var(--Size);
        border-radius: 50%;
        background: var(--bodyBorderColor);
    }
}

.window {
    position: fixed;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0, 0.9), -1px 1px 4px rgba(0, 0, 0, 0, 0.9);

    .window-content {
        height: 100%;
        padding: 5px;
    }

    .window-top {
        cursor: move;
        height: 20px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        padding: 5px;
    }
}

.myWindow {
    z-index: 1;
}

button {
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
    font-size: inherit;
}


@keyframes enterHelloTexts{
    from{
        transform: translateX(-50%);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 100;
    }
}
@keyframes enterSmallCard{
    from{
        margin-right: -50%;
    } to {
        margin-right: 0;
    }
}

body.dark-theme{
    background: #2b2b2b;
    *{
        --bodyBorderColor: white;
        --bodyColor: #2b2b2b;   
        --textColor: #E9E3DC; 
        --secondaryColor: #b7b1aa;
    
    }
    section#introduction{
        .window>.window-content{
            .text-hello{
                h1{
                    color: #f3f3f3;
                }
                p{
                    color: var(--bodyColor);
                    background: #dfdad5;
                }
            }
            .smallWindow{
                background: #E9E3DC;
            }
        }
    }
    section#projects{
        .content>.project-smallWindow>.card-header>button>svg{
            fill: var(--bodyBorderColor);
        }
        .content>.card.project-bigWindow>.content{
            .project-view{
                --bodyBorderColor: #221D1A;
            }
            .project-description{
                a{
                    color: white;
                    text-decoration-color: rgba(255, 255, 255, 0.486);
                }
    
            }
        }
    }
    section#aboutMe{
        svg.photoshop{
            path{
                fill: #0e53bb;
            }
        }
    }

    header > .controls > nav > ul > li, 
    #myWindow > div.window-content > span.text-hello > p,
    section#aboutMe > .container > .content > .aboutMe-content > .aboutMe-infos > .whereToFindMe > .links > a{
        border-color: #57524c;
    }

    header > .controls > nav >.control_navbar > .lines > .line{
        background: var(--bodyColor);
        border-color: var(--secondaryColor)
    }

    section#aboutMe> div > div.content > div > div{
        p, .whereToFindMe>p{
            color: white;
        }
    }
    section#projects > div > div > div.card.project-smallWindow{
        .card-header>p, .content{
            color: white;

        }
    }
    section#projects > div > div > div.card.project-bigWindow{
        .card-header>p, .card-header>button, .content>.project-description>p, .content>.project-description>ul>li{
            color: white;

        }
    }
    section#projects > div > div > div.card.project-bigWindow > .content{
        .project-view{
            --secondaryColor: #E9E3DC;
            .galery{
                button{
                    border-color: var(--shadowColor);
                    background: #E9E3DC
                }
            }
            .links-area > a{
                border-color: var(--shadowColor);
            }
        }
    } 
}

body.light-theme{
    *{
        --bodyColor: #D5D5D6;
    }
    section#aboutMe> div > div.content > div > div{
        p, .whereToFindMe>p{
            color: black;
        }
    }
    section#projects > div > div > div.card.project-smallWindow{
        .card-header>p, .content{
            color: black;
        }
    }

    section#projects > div > div > div.card.project-bigWindow{
        .card-header>p, .card-header>button, .content>.project-description>p, .content>.project-description>ul>li{
            color: black;
        }
    }
}

/* @media (prefers-color-scheme: dark){
    :root{
        --bodyColor: #2b2b2b;   
    }
} */

/* @media (prefers-color-scheme: light){
    :root {
        --bodyColor: #D5D5D6;
    }
} */


@media (max-width: 1365px) {
    section#introduction>#myWindow {
        .window-content {
            .smallWindow{
                height: 250px;
                width: 250px;
            }
        }
    }
}
@media (max-width: 1230px) {
    section#introduction>#myWindow {
        .window-content {
            .text-hello {
                p {
                    font-size: 1.5rem;
                }
            }
        }
    }

    section#projects>.container>.card.project-bigWindow {
        .content {
            .project-view {

                img.project-image,
                .galery>ul>li>img {
                    height: 200px;
                }

                .links-area {
                    a {
                        font-size: 1rem;
                    }
                }

            }
        }
    }
}

@media (max-width: 1203px) {
    section#projects>.container {
        .container-header {
            .window-name {
                width: fit-content;

                p {
                    padding: 0 80px;
                }
            }
        }

        .card.project-smallWindow {
            .card-header {
                position: relative;

                >p.project-name {
                    letter-spacing: 1px;
                }

                button {
                    display: none;
                }
            }
        }
    }
    section#aboutMe>.container{
        .container-header{
            .window-name{
                width: 70%;
            }
        }
    }
}

@media (max-width: 1162px) {
    section#introduction>#myWindow {
        .window-content {
            .text-hello{
                width: 90%;
            }
        }
    }

    section#projects>.container>.card.project-bigWindow {
        .content {
            .project-view {

                img.project-image,
                .galery>ul>li>img {
                    height: 200px;
                }

                .links-area {
                    a {
                        font-size: 1rem;
                    }
                }

            }
        }
    }
}

@media (max-width: 770px) {
    section#introduction::before{
        width: 400px;
        height: 400px;
        top: -90%;
    }
    section#introduction::after{
        width: 400px;
        height: 400px;
        top: 250px;
    }

    section#projects::before{
        right: 0;
        height: 200px;
        width: 200px;
    }
    section#introduction>#myWindow {
        width: 100%;
        .window-content {
            .smallWindow{
                width: 180px;
                height: 180px;
            }
        }
    }

    section#introduction {
        header > .controls{
            .buttonNavbar {
                display: flex;
                height: 40%;
                width: auto;
            }
        }
    }

    header > .controls{
        nav {
            ul{
                li {
                    display: none;
                    width: fit-content;
                }

            }
            ul.navbar.items.visible{
                height: 100vh;
                position: absolute;
                right: 0;
                margin-top: -50px;
            }
            .control_navbar{
                display: flex;
                width: fit-content;
            }
        }
    }

    section#projects{
        .container{
            width: 97%;
            height: fit-content;
            padding-bottom: 20px;
            .content{
                grid-template-columns: auto;
                .card.project-smallWindow{
                    margin-top: 30px;
                    .content{
                        font-size: 1rem;
                        /* text-align: start; */
                    }
                }
                .card.project-bigWindow{
                    .card-header{
                        p{
                            padding: 5px 0;
                            font-size: 1.5rem;
                            letter-spacing: 0;
                        }
                    }
                    .content{
                        .project-view{
                            img,.galery>ul>li>img{
                                height: 100px;
                            }
                            .links-area{
                                a{
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    section#aboutMe{
        .container{
            width: 97%;
            .content{
                width: 100%;
                .content-name{
                    font-size: 1.5rem;
                    margin-bottom: 10px;}
                .aboutMe-content{
                    width: 90%;
                    height: fit-content;
                    .aboutMe-infos{
                        margin-right: 10px;
                        p{
                            font-size: 1rem;
                        }
                        .skills{
                            justify-content: left;
                            svg{
                                height: 2rem;
                            }
                        }
                    }
                    /* .smallWindow{
                        height: 60%;
                    } */

                }
            }
        }   

    }
}

@media (max-width: 680px) {
    header{
        p{
            font-size: 2rem;
        }
    }
    section#projects,section#aboutMe>.container {
        .container-header {
            .window-name {
                width: fit-content;

                svg {
                    left: 5px;
                }

                >p {
                    padding: 0 40px;
                    font-size: 1rem;
                }
            }
        }

    }
    .card.project-smallWindow {
        .card-header {
            p.project-name {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 649px) {
    section#introduction>#myWindow {
        .window-content {
            .text-hello {
                h1{
                    font-size: 3.5rem;
                }
                p {
                    font-size: 1.5rem;
                }
            }
        }
    }

    section#projects>.container>.card.project-bigWindow {
        .content {
            .project-view {

                img.project-image,
                .galery>ul>li>img {
                    height: 200px;
                }

                .links-area {
                    a {
                        font-size: 1rem;
                    }
                }

            }
        }
    }
}

@media (max-width: 500px){
    section#aboutMe>.container>.content>.aboutMe-content{
        min-height: 200px;
        justify-content: center;
    }
}