@import "tailwindcss";

@theme {
  --color-body: #D5D5D6;
  --color-border: #221D1A;
  --color-secondary: #2b2b2b;

  --color-link: white;
  --color-link-border: #221D1A;
  --color-link-hover: #e4c30a;

  --border-default: black;


  --shadow-solid: 4px 3px 0 var(--shadowColor)
}

html {
  --shadowColor: black;
}

html.dark {
  color: #D5D5D6;

  --color-body: #2b2b2b;
  --color-border: white;
  --color-secondary: #D5D5D6;

  --color-link: #b7b1aa;
  --color-link-border: #57524c;

  --border-default: white;

}

html {
  color: #1E1E1E;
}


:root {
  margin: 0;
}

body,
#root {
  font-family: "Roboto Condensed", sans-serif;
  min-width: 100vw;
  min-height: 100vh;
}
